body{
    background-color: #E6CDB6;
    font-family: 'Lato', sans-serif;
}

#add-train-btn{
    background-color: #871B23;
    color: #E9B42B;
    border-width: 0px;
}

h1 {
    color: #E9B42B;
    font-size: 60px;
}

h2 {
    color:  #E6CDB6;
    font-size: 30px;
    text-align: center;
}

h3 {
    color: #E6CDB6;
    font-size: 25px;
}